<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paypal Node App</title>
</head>
<body>
	<h1>Orlando Magic Jersey</h1>
	<h2>Purchase 75$</h2>
	<form action="/pay" method="post">
		<input type="submit" value="Buy">
	</form>

</body>
</html>